[submodule "third-party/gflags"]
	path = third-party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third-party/gmock"]
	path = third-party/gmock
	url = https://github.com/jbenden/gmock.git
